body {
    margin: 0;
    background-color: #f0dede;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 150px;
    background-color: #464444;
  }
  
  main {
    background-color: #f7f2f2;
    margin: 0 auto;
    width: 75%;
    height: 80%;
  }
  
  footer { 
    background-color: #202020;
    margin: 0 auto;
    width: 75%;
    height: 100px;
  }